/* 
Font: Cinzel, poppins.
border: #ccc.
color logo: #999.
color home: #fff.
color: #333 
font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;
*/

/*--GENERAL FORMATTING------------*/

*{
    /* box-sizing: border-box; */
    margin:0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins:wght@200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size:10px;
    background:#fff;
    color:#333;
}

h1, h2, h3{
    font-family: 'Cinzel', serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

/*--HEADER------------*/
header h3{
    text-align: left;
    color: #999;
    font-size: 1.1rem;
    height:5vh;
    margin-left:30px;
    padding:10px 0;
    font-weight: 200;
}

/*--MAIN HERO------------*/

section:nth-of-type(1){
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:90vh;
}

section:nth-of-type(1) h1{
  color: white;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  /* 
  Alternative Kurzschreibweise
  margin: 0 auto;
  */
  padding-top:20% ;
  font-size:3rem;
  font-weight: 100;
}

/*--MAIN Section 2------------*/

section:not(:first-of-type){
    margin:5%
}

section:nth-of-type(2){
    text-align: center;
    /* background-color: tomato; */
}
section:nth-of-type(2) h2{
    margin: 30px 0;
}
section:nth-of-type(2) p{
    font-size: 11px;
    line-height: 1.5em;
    padding-bottom: 5%;
}

section:nth-of-type(2) article:nth-of-type(2){
    text-align: left;
    /* background-color: rgb(71, 255, 200); */
}
section:nth-of-type(2) article:nth-of-type(2) img{
    width:29.5%;
    margin:0;
    padding-right:5.2%;
    padding-bottom:5%;
    Line-height:0;
}
section:nth-of-type(2) article:nth-of-type(2) img:nth-of-type(3n){
    /* background: rgb(37, 194, 32); */
    padding-right:0;
}

/*--MAIN Section 3------------*/

section:nth-of-type(3) {
    margin: 30px 30px;
    padding-bottom:3% ;
    /* background-color: rgb(223, 255, 105); */
}
section:nth-of-type(3) h2{
    margin:30px 0;
    /* background-color: hotpink; */
}

section:nth-of-type(3) p{
line-height: 2em;
font-size: 10px;
}

section:nth-of-type(3) p:nth-of-type(1)::after{
content: ' - SOLD OUT';
color:red;
}
section:nth-of-type(3) p:nth-of-type(2)::after{
content: ' - SOLD OUT';
color:red;
}
section:nth-of-type(3) p:nth-of-type(3)::after{
content: ' - SOLD OUT';
color:red;
}
section:nth-of-type(3) p:nth-of-type(4)::after{
content: ' - ONLY 4 SPOTS AVAILABLE';
color:red;
}
section:nth-of-type(3) p:nth-of-type(5)::after{
content: ' - AVAILABLE';
color:green;
}
section:nth-of-type(3) p:nth-of-type(6)::after{
content: ' - AVAILABLE';
color:green;
}

a{
    text-decoration: none;
}

/*--FOOTER------------*/
footer{
    border-top:1px solid rgb(209, 201, 201);
    padding:3%;
}

footer h3{
    margin-bottom: 3%;
    /* border: 1px solid green; */
}

footer ul{
    text-align: center;
}


footer ul li{
    display:inline;
    /* border: 1px solid red; */
    padding:0.8rem;
}
a{    
    text-decoration: none;
    color: gray;
}
a:hover{    
    color: rgb(44, 40, 40);
}